img{
    width: 250px;
}
span{
    font-weight: bold;
}
p{
    font-size: 18px;
}
.categoryArea{
    display: flex;
    justify-content: space-around;
}
.mealContainer{
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    border-radius: 20px;

}